body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:694px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:17px;
  width:375px;
  height:585px;
  display:flex;
}
#u6077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:77px;
  width:345px;
  height:47px;
  display:flex;
}
#u6078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:85px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6079 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:138px;
  width:345px;
  height:47px;
  display:flex;
}
#u6080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:146px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6081 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:201px;
  width:345px;
  height:47px;
  display:flex;
}
#u6082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:209px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6083 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:262px;
  width:345px;
  height:47px;
  display:flex;
}
#u6084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:270px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u6085 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:32px;
  width:289px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6086 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(13, 13, 81, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:37px;
  width:66px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:47px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:45px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:47px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:41px;
  width:1px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:46px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:32px;
  width:71px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u6096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:40px;
  width:127px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6097 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
