body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:694px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:17px;
  width:375px;
  height:585px;
  display:flex;
}
#u2928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:77px;
  width:345px;
  height:47px;
  display:flex;
}
#u2929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:85px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2930 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:138px;
  width:345px;
  height:47px;
  display:flex;
}
#u2931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:146px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2932 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:201px;
  width:345px;
  height:47px;
  display:flex;
}
#u2933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:209px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2934 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:262px;
  width:345px;
  height:47px;
  display:flex;
}
#u2935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:270px;
  width:332px;
  height:31px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  vertical-align:super;
}
#u2936 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:32px;
  width:289px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2937 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(13, 13, 81, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:37px;
  width:66px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:47px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:45px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:47px;
  width:4px;
  height:4px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:41px;
  width:1px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:42px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:46px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:32px;
  width:71px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u2947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:40px;
  width:127px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
