body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:1635px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:136px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:60px;
  width:1006px;
  height:136px;
  display:flex;
}
#u1530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:513px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:196px;
  width:1006px;
  height:513px;
  display:flex;
}
#u1531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:136px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:60px;
  width:292px;
  height:136px;
  display:flex;
}
#u1532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:1px;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:196px;
  width:267px;
  height:1px;
  display:flex;
}
#u1533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:39px;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:197px;
  width:267px;
  height:39px;
  display:flex;
}
#u1534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:281px;
  width:267px;
  height:45px;
  display:flex;
}
#u1535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:429px;
  width:267px;
  height:64px;
  display:flex;
}
#u1536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:33px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:232px;
  width:267px;
  height:33px;
  display:flex;
}
#u1537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:172px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:537px;
  width:267px;
  height:172px;
  display:flex;
}
#u1538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:47px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:662px;
  width:267px;
  height:47px;
  display:flex;
}
#u1539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:1px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:1px;
  display:flex;
}
#u1540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:513px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:513px;
  display:flex;
}
#u1541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:285px;
  width:50px;
  height:25px;
  display:flex;
}
#u1542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:265px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:414px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1544_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:330px;
  width:60px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:345px;
  width:267px;
  height:64px;
  display:flex;
}
#u1546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:357px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:388px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:406px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:167px;
  width:309px;
  height:406px;
  display:flex;
}
#u1549 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:501px;
  width:243px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1550 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1550_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1550.mouseDown {
  opacity:0.8;
}
#u1550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
