body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:1635px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:136px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:60px;
  width:1006px;
  height:136px;
  display:flex;
}
#u1501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:513px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:196px;
  width:1006px;
  height:513px;
  display:flex;
}
#u1502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:136px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:60px;
  width:292px;
  height:136px;
  display:flex;
}
#u1503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:1px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:196px;
  width:267px;
  height:1px;
  display:flex;
}
#u1504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:39px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:197px;
  width:267px;
  height:39px;
  display:flex;
}
#u1505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:281px;
  width:267px;
  height:45px;
  display:flex;
}
#u1506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:429px;
  width:267px;
  height:64px;
  display:flex;
}
#u1507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:33px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:232px;
  width:267px;
  height:33px;
  display:flex;
}
#u1508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:172px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:537px;
  width:267px;
  height:172px;
  display:flex;
}
#u1509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:47px;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:662px;
  width:267px;
  height:47px;
  display:flex;
}
#u1510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:1px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:1px;
  display:flex;
}
#u1511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:513px;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:513px;
  display:flex;
}
#u1512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:285px;
  width:50px;
  height:25px;
  display:flex;
}
#u1513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:265px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:414px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:330px;
  width:60px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:345px;
  width:267px;
  height:64px;
  display:flex;
}
#u1517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:357px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:388px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:406px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:167px;
  width:309px;
  height:406px;
  display:flex;
}
#u1520 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:501px;
  width:243px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1521_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1521.mouseDown {
  opacity:0.8;
}
#u1521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
