body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:1635px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:136px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:60px;
  width:1006px;
  height:136px;
  display:flex;
}
#u1549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:513px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:196px;
  width:1006px;
  height:513px;
  display:flex;
}
#u1550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:136px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:60px;
  width:292px;
  height:136px;
  display:flex;
}
#u1551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:1px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:196px;
  width:267px;
  height:1px;
  display:flex;
}
#u1552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:39px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:197px;
  width:267px;
  height:39px;
  display:flex;
}
#u1553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:45px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:281px;
  width:267px;
  height:45px;
  display:flex;
}
#u1554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:429px;
  width:267px;
  height:64px;
  display:flex;
}
#u1555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:33px;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:232px;
  width:267px;
  height:33px;
  display:flex;
}
#u1556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:172px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:537px;
  width:267px;
  height:172px;
  display:flex;
}
#u1557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:47px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:662px;
  width:267px;
  height:47px;
  display:flex;
}
#u1558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:1px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:1px;
  display:flex;
}
#u1559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:513px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:196px;
  width:25px;
  height:513px;
  display:flex;
}
#u1560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:285px;
  width:50px;
  height:25px;
  display:flex;
}
#u1561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:265px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:414px;
  width:69px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:330px;
  width:60px;
  height:13px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AAAAAA;
}
#u1564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:64px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:345px;
  width:267px;
  height:64px;
  display:flex;
}
#u1565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:357px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(226, 240, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:388px;
  width:180px;
  height:12px;
  display:flex;
  font-size:10px;
  color:#0E7BD8;
  text-align:left;
}
#u1567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:406px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:167px;
  width:309px;
  height:406px;
  display:flex;
}
#u1568 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:501px;
  width:243px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1569_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  line-height:20px;
}
#u1569.mouseDown {
  opacity:0.8;
}
#u1569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
