body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:119px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u6829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:879px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6832 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:52px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:43px;
  width:1680px;
  height:52px;
  display:flex;
}
#u6836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 119, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:186px;
  width:1396px;
  height:1052px;
  display:flex;
}
#u6838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:329px;
  width:300px;
  height:170px;
  display:flex;
}
#u6839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:534px;
  width:337px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:55px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:119px;
  width:1396px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:828px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:522px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:-387px;
  top:249px;
  width:351px;
  height:522px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6846 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
}
#u6848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:147px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u6851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  text-align:left;
}
.u6851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u6851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
.u6852 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:9px;
  width:15px;
  height:18px;
  display:flex;
}
.u6852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u6852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u6853 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:11px;
  width:15px;
  height:14px;
  display:flex;
}
.u6853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u6853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6850-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u6850-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:250px;
  height:40px;
}
#u6850-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:40px;
}
#u6850-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:40px;
}
#u6850-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:40px;
}
#u6850-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:40px;
}
#u6850-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:250px;
  height:40px;
}
#u6850-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:250px;
  height:40px;
}
#u6850-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:250px;
  height:40px;
}
#u6850-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:250px;
  height:40px;
}
#u6850-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:250px;
  height:40px;
}
#u6850-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:250px;
  height:40px;
}
#u6850-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:250px;
  height:40px;
}
#u6850-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:250px;
  height:40px;
}
#u6850-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:250px;
  height:40px;
}
#u6850-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:250px;
  height:40px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:190px;
  width:250px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:395px;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:805px;
  width:619px;
  height:395px;
  display:flex;
}
#u6854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:570px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:190px;
  width:351px;
  height:570px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6855 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:147px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:128px;
  width:20px;
  height:19px;
  display:flex;
}
#u6858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
