body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:119px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u3680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:879px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3683 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3686 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:52px;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:43px;
  width:1680px;
  height:52px;
  display:flex;
}
#u3687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 119, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u3688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:186px;
  width:1396px;
  height:1052px;
  display:flex;
}
#u3689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:329px;
  width:300px;
  height:170px;
  display:flex;
}
#u3690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:534px;
  width:337px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3691_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:55px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:119px;
  width:1396px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3693 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:828px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u3696 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u3696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:522px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:-387px;
  top:249px;
  width:351px;
  height:522px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3697 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
}
#u3699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:147px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3700_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u3702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u3702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  text-align:left;
}
.u3702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u3702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
.u3703 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:9px;
  width:15px;
  height:18px;
  display:flex;
}
.u3703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u3704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u3704 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:11px;
  width:15px;
  height:14px;
  display:flex;
}
.u3704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u3704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3701-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u3701-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:250px;
  height:40px;
}
#u3701-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:40px;
}
#u3701-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:40px;
}
#u3701-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:40px;
}
#u3701-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:40px;
}
#u3701-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:250px;
  height:40px;
}
#u3701-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:250px;
  height:40px;
}
#u3701-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:250px;
  height:40px;
}
#u3701-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:250px;
  height:40px;
}
#u3701-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:250px;
  height:40px;
}
#u3701-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:250px;
  height:40px;
}
#u3701-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:250px;
  height:40px;
}
#u3701-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:250px;
  height:40px;
}
#u3701-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:250px;
  height:40px;
}
#u3701-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:250px;
  height:40px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:190px;
  width:250px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:395px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:805px;
  width:619px;
  height:395px;
  display:flex;
}
#u3705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:570px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:190px;
  width:351px;
  height:570px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3706 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:147px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:128px;
  width:20px;
  height:19px;
  display:flex;
}
#u3709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
