body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:119px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u2249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:879px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2252 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2255 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:52px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:43px;
  width:1680px;
  height:52px;
  display:flex;
}
#u2256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 119, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:186px;
  width:1396px;
  height:1052px;
  display:flex;
}
#u2258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:329px;
  width:300px;
  height:170px;
  display:flex;
}
#u2259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:534px;
  width:337px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u2260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:55px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:119px;
  width:1396px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2262 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:828px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u2265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:522px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:-387px;
  top:249px;
  width:351px;
  height:522px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2266 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
}
#u2268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:147px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u2271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  text-align:left;
}
.u2271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u2271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
.u2272 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:9px;
  width:15px;
  height:18px;
  display:flex;
}
.u2272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u2273 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:11px;
  width:15px;
  height:14px;
  display:flex;
}
.u2273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2270-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u2270-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:250px;
  height:40px;
}
#u2270-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:40px;
}
#u2270-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:40px;
}
#u2270-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:40px;
}
#u2270-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:40px;
}
#u2270-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:250px;
  height:40px;
}
#u2270-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:250px;
  height:40px;
}
#u2270-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:250px;
  height:40px;
}
#u2270-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:250px;
  height:40px;
}
#u2270-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:250px;
  height:40px;
}
#u2270-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:250px;
  height:40px;
}
#u2270-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:250px;
  height:40px;
}
#u2270-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:250px;
  height:40px;
}
#u2270-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:250px;
  height:40px;
}
#u2270-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:250px;
  height:40px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:190px;
  width:250px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:395px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:805px;
  width:619px;
  height:395px;
  display:flex;
}
#u2274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:570px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:190px;
  width:351px;
  height:570px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2275 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:147px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2277 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2277_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:128px;
  width:20px;
  height:19px;
  display:flex;
}
#u2278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
