body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:119px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u6777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:879px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6780 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6783 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:52px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:43px;
  width:1680px;
  height:52px;
  display:flex;
}
#u6784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 119, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u6785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:186px;
  width:1396px;
  height:1052px;
  display:flex;
}
#u6786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:329px;
  width:300px;
  height:170px;
  display:flex;
}
#u6787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:534px;
  width:337px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:55px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:119px;
  width:1396px;
  height:55px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6790 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:828px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u6793 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:522px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:-387px;
  top:249px;
  width:351px;
  height:522px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6794 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:126px;
  width:20px;
  height:20px;
  display:flex;
}
#u6796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:147px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u6799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u6799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  text-align:left;
}
.u6799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u6799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
.u6800 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:9px;
  width:15px;
  height:18px;
  display:flex;
}
.u6800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u6800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u6801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
.u6801 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:11px;
  width:15px;
  height:14px;
  display:flex;
}
.u6801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u6801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6798-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u6798-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:250px;
  height:40px;
}
#u6798-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:40px;
}
#u6798-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:40px;
}
#u6798-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:40px;
}
#u6798-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:40px;
}
#u6798-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:250px;
  height:40px;
}
#u6798-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:250px;
  height:40px;
}
#u6798-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:250px;
  height:40px;
}
#u6798-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:250px;
  height:40px;
}
#u6798-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:250px;
  height:40px;
}
#u6798-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:250px;
  height:40px;
}
#u6798-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:250px;
  height:40px;
}
#u6798-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:250px;
  height:40px;
}
#u6798-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:250px;
  height:40px;
}
#u6798-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:250px;
  height:40px;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:190px;
  width:250px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:395px;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:805px;
  width:619px;
  height:395px;
  display:flex;
}
#u6802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:570px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:190px;
  width:351px;
  height:570px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6803 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:147px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:128px;
  width:20px;
  height:19px;
  display:flex;
}
#u6806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
