body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:107px;
  width:300px;
  height:36px;
  display:flex;
}
#u6062 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6063 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u6065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:770px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u6066 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:49px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6068 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6068_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6068.mouseDown {
  opacity:0.8;
}
#u6068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:51px;
  width:26px;
  height:26px;
  display:flex;
}
#u6069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:53px;
  width:23px;
  height:23px;
  display:flex;
}
#u6070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:57px;
  width:1px;
  height:15px;
  display:flex;
}
#u6071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6072_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:377px;
  height:915px;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:375px;
  height:913px;
  display:flex;
}
#u6072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:196px;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:375px;
  height:196px;
  display:flex;
}
#u6073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:129px;
  width:98px;
  height:28px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u6074 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6074_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:124px;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:168px;
  width:339px;
  height:124px;
  display:flex;
}
#u6075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:183px;
  width:239px;
  height:28px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u6076 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6076_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:222px;
  width:14px;
  height:16px;
  display:flex;
}
#u6077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:223px;
  width:138px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u6078 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:251px;
  width:14px;
  height:16px;
  display:flex;
}
#u6079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:252px;
  width:138px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u6080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:628px;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:328px;
  width:339px;
  height:628px;
  display:flex;
}
#u6081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:345px;
  width:311px;
  height:696px;
  display:flex;
}
#u6082 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
  text-align:center;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:307px;
  width:197px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
  text-align:center;
}
#u6083 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6084_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:5px;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:314px;
  width:90px;
  height:2px;
  display:flex;
  color:#FFFFFF;
}
#u6084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6085_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:5px;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:315px;
  width:90px;
  height:2px;
  display:flex;
  color:#FFFFFF;
}
#u6085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:133px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.4;
  color:#FFFFFF;
}
#u6086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:750px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:222px;
  width:311px;
  height:750px;
  display:flex;
}
#u6087 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:354px;
  width:311px;
  height:150px;
  display:flex;
}
#u6088 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
