body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1150px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:107px;
  width:300px;
  height:36px;
  display:flex;
}
#u6091 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6092 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  display:flex;
}
#u6094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:770px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:770px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u6095 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:49px;
  width:80px;
  height:30px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6097 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6097_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u6097.mouseDown {
  opacity:0.8;
}
#u6097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:51px;
  width:26px;
  height:26px;
  display:flex;
}
#u6098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:53px;
  width:23px;
  height:23px;
  display:flex;
}
#u6099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:57px;
  width:1px;
  height:15px;
  display:flex;
}
#u6100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6101_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:377px;
  height:915px;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:375px;
  height:913px;
  display:flex;
}
#u6101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:196px;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:375px;
  height:196px;
  display:flex;
}
#u6102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:129px;
  width:98px;
  height:28px;
  display:flex;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u6103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6103_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:124px;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:168px;
  width:339px;
  height:124px;
  display:flex;
}
#u6104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:183px;
  width:239px;
  height:28px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:28px;
}
#u6105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6105_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u6106 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:222px;
  width:14px;
  height:16px;
  display:flex;
}
#u6106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6107 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:223px;
  width:138px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u6107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u6108 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:251px;
  width:14px;
  height:16px;
  display:flex;
}
#u6108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6109 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:252px;
  width:138px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#999999;
}
#u6109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:628px;
}
#u6110 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:328px;
  width:339px;
  height:628px;
  display:flex;
}
#u6110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6111 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:345px;
  width:311px;
  height:696px;
  display:flex;
}
#u6111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
  text-align:center;
}
#u6112 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:307px;
  width:197px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0079FE;
  text-align:center;
}
#u6112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6113_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:5px;
}
#u6113 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:314px;
  width:90px;
  height:2px;
  display:flex;
  color:#FFFFFF;
}
#u6113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6114_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:5px;
}
#u6114 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:315px;
  width:90px;
  height:2px;
  display:flex;
  color:#FFFFFF;
}
#u6114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6115 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:133px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.4;
  color:#FFFFFF;
}
#u6115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:750px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6116 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:222px;
  width:311px;
  height:750px;
  display:flex;
}
#u6116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6117 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:354px;
  width:311px;
  height:150px;
  display:flex;
}
#u6117 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
