body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-39px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:33px;
  width:1080px;
  height:539px;
  display:flex;
}
#u4563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:308px;
  width:70px;
  height:17px;
  display:flex;
  font-size:7px;
  color:#3F8BDE;
}
#u4564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:331px;
  width:379px;
  height:146px;
  display:flex;
}
#u4565 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
