body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:626px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:65px;
  width:1366px;
  height:626px;
  display:flex;
}
#u6822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:297px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:330px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:363px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:427px;
  width:290px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6826 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:297px;
  width:100px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 116, 214, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 116, 214, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:297px;
  width:31px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
