body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:40px;
  width:1080px;
  height:539px;
  display:flex;
}
#u4592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:395px;
  width:70px;
  height:17px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:7px;
  color:#3F8BDE;
}
#u4593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:307px;
  width:379px;
  height:101px;
  display:flex;
}
#u4594 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:224px;
  width:70px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:7px;
  color:#3F8BDE;
}
#u4595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
