body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-73px;
  width:2843px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:310px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:45px;
  width:343px;
  height:310px;
  display:flex;
}
#u1518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:1072px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:355px;
  width:343px;
  height:1072px;
  display:flex;
}
#u1519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:239px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:45px;
  width:1437px;
  height:239px;
  display:flex;
}
#u1520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:71px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:284px;
  width:1437px;
  height:71px;
  display:flex;
}
#u1521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:239px;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:45px;
  width:690px;
  height:239px;
  display:flex;
}
#u1522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  height:749px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:649px;
  width:1429px;
  height:749px;
  display:flex;
}
#u1523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:886px;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:1846px;
  top:284px;
  width:698px;
  height:886px;
  display:flex;
}
#u1524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:452px;
  width:1359px;
  height:172px;
  display:flex;
}
#u1526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:490px;
  width:190px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:490px;
  width:168px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:125px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:476px;
  width:1px;
  height:124px;
  display:flex;
}
#u1529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:490px;
  width:205px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:535px;
  width:205px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#ED6017;
}
#u1531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:490px;
  width:154px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:535px;
  width:176px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:22px;
  color:#0079FE;
}
#u1533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:380px;
  width:1359px;
  height:72px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u1534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u1534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
  line-height:20px;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:388px;
  width:180px;
  height:56px;
  display:flex;
  font-size:22px;
  color:#FFFFFF;
  line-height:20px;
}
#u1535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1535_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
  background:inherit;
  background-color:rgba(21, 125, 218, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
  line-height:20px;
}
#u1535.mouseDown {
  opacity:0.8;
}
#u1535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#AAAAAA;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:407px;
  width:235px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#AAAAAA;
}
#u1536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  height:129px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1298px;
  width:1429px;
  height:129px;
  display:flex;
}
#u1537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:239px;
  width:119px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1538_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1538.mouseDown {
  opacity:0.8;
}
#u1538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:1661px;
  top:239px;
  width:119px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1539_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u1539.mouseDown {
  opacity:0.8;
}
#u1539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:406px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:2607px;
  top:420px;
  width:309px;
  height:406px;
  display:flex;
}
#u1540 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
