body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-68px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:119px;
  width:251px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:879px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:159px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:52px;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:43px;
  width:1680px;
  height:52px;
  display:flex;
}
#u7065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 119, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u7066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1396px;
  height:1052px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:119px;
  width:1396px;
  height:1052px;
  display:flex;
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:329px;
  width:300px;
  height:170px;
  display:flex;
}
#u7068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:534px;
  width:337px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u7069 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7069_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:828px;
  width:250px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
#u7072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:269px;
  width:351px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7073 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u7075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u7075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  display:flex;
  text-align:left;
}
.u7075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u7075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7074-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u7074-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:250px;
  height:40px;
}
#u7074-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:250px;
  height:40px;
}
#u7074-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:250px;
  height:40px;
}
#u7074-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:250px;
  height:40px;
}
#u7074-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:40px;
}
#u7074-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:250px;
  height:40px;
}
#u7074-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:250px;
  height:40px;
}
#u7074-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:250px;
  height:40px;
}
#u7074-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:250px;
  height:40px;
}
#u7074-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:250px;
  height:40px;
}
#u7074-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:250px;
  height:40px;
}
#u7074-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:250px;
  height:40px;
}
#u7074-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:250px;
  height:40px;
}
#u7074-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:560px;
  width:250px;
  height:40px;
}
#u7074-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:250px;
  height:40px;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:190px;
  width:250px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
