body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-44px;
  width:687px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:326px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:155px;
  width:299px;
  height:326px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2405 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:501px;
  width:277px;
  height:108px;
}
#u2406_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:42px;
  width:218px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u2407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:274px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u2408 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:13px;
  width:20px;
  height:20px;
  display:flex;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2409_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2409.mouseOver {
}
#u2409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0079FE;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:42px;
  width:25px;
  height:28px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0079FE;
}
#u2410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:76px;
  width:109px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:707px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:49px;
  width:375px;
  height:707px;
  display:flex;
}
#u2412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:80px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:162px;
  width:21px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:16px;
}
#u2413 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 5px;
  box-sizing:border-box;
  width:100%;
}
#u2413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
