body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1607px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:620px;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:47px;
  width:1366px;
  height:620px;
  display:flex;
}
#u6235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:469px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:1368px;
  top:106px;
  width:289px;
  height:469px;
  display:flex;
}
#u6237 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
